img {
 margin: auto;
	
}

h2 {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}

.button {
  padding: 15px 25px;
  margin-top: 15px;
  margin: auto;
  width: 250px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  color: #1ca0b4;
  background-color: black;
  border-style: solid;
  border-radius: 15px;
  border-color: #1ca0b4;

}

.button:hover {
	background-color: #1ca0b4;
	color: black;
	

}

.button:active {
  background-color: #1ca0b4;
  color: white;
}

a {
	font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
	display: block;
}

.center {
 font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
 padding: 15px 25px;
 text-align: center;
 color: white
}

body {
  background-color: Black;
}